{% extends 'layouts/main.html' %}
{% block title %}Show Search{% endblock %}
{% block content %}

    <div class="page-header">
        <h1>Fyyur Show Search!</h1>
        <ul class="nav nav-pills">
            <li class="active"><a href="/shows">Shows</a></li>
        </ul>
    </div>
    {#    Todo implement show search frontend #}
       
    {#    Add implement show search frontend #}
    <ul class="nav nav-pills">
    <h3>Number of search results for "{{ search_term }}": {{ results.count }}</h3>
    {% for show in results.data %}
	    <h5>{{ show.show_name }}</h5>
	{% endfor %}
    </ul>

{% endblock %}


